<div>
   <flow-form
      ref="flowform"
      v-on:complete="onComplete"
      v-on:answer="onAnswer"
      v-bind:questions="questions"
      v-bind:language="language"
      v-bind:standalone="true"
     >
      <template v-slot:complete>
         <p v-if="isValid && generic">
            <span class="fh2">{{params.lang.completed.title}}</span>
            <span class="f-section-text">
            {{params.lang.completed.thankyou}}
            </span>
         </p>
         <p v-if="!submitted && isValid && !generic">
            <span class="fh2">{{params.lang.completed.title}}</span>
            <span class="f-section-text">
            {{params.lang.completed.editOrCalc}}
            </span>
         </p>
         <p>
            <span v-if="!isValid" class="f-section-text">
            {{params.lang.completed.error}} <a href="https://community.simplicite.io/">community.simplicite.io</a>
            </span>
         </p>
      </template>
      <template v-slot:completeButton>
         <div class="f-submit" v-if="!submitted && isValid && !generic">
            <button
               class="o-btn-action"
               ref="button"
               type="submit"
               href="#"
               v-on:click.prevent="onQuizSubmit()"
               aria-label="Press to submit">
            <span>{{params.lang.completed.calculate}}</span>
            </button>
            <a 
               class="f-enter-desc"
               href="#"
               v-on:click.prevent="onQuizSubmit()"
               >
            </a>
         </div>
         <div class="f-submit" v-else>
         </div>
      </template>
      
      <div v-if="submitted && scored && !generic">
      	<div v-if="loading">
          <span class="fh2">{{params.lang.completed.wait}}</span>
        </div>
        <div v-else>
        	<span class="fh2">{{params.lang.completed.yourScore}}</span>
	      	<div  v-for="scoreEl in scores">
	      		<p>{{ scoreEl.examTitle }} : <b>{{ scoreEl.score }}/{{ scoreEl.total }}</b></p>
	      	</div>
        </div>
      </div>
   </flow-form>
</div>
